.header{
    font-size: 400%;
    text-align: center;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 800px;
    background-image: url(style/blue\ gaming.png);
h1{
    color: blue;

}